<%- include ('../layouts/header') %>

    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Welcome to GYWS-Home</title>
        <link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/new_website_css/home/style.css">
    </head>

    <body>





        <div class="empty"></div>


        <div id="header" class="container-fluid row"></div>
        <div class="bgded"
            style="background-image:url('<%=baseurl%>gyws/assets/img/new_website_img/home/header-bg-1.jpg');">
            <div class="overlay">
                <div id="pageintro" class="hoc clear">

                    <div class="header-by-line">
                        <p class="header-by-line--line1" style='font-family: Nunito, sans-serif;'>IITians empowering
                            youth for BETTER TOMORROW</p>
                    </div>

                </div>
            </div>

        </div>



        <div class="container c-1">
            <section id="introblocks">
                <div class="row row1" style="background-position: 0cm; height: 350px; margin-top: -350px;">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-top our-mission"
                        style="background-color: #EAEAE8 ; opacity: 0.85;">
                        <center>
                            <h1
                                style="margin-top: 10%;margin-bottom: 25px;  font-weight: bold; color: black; font-family: 'Nunito', sans-serif;">
                                OUR MISSION
                            </h1>
                            <p class="mission-text">
                                We aim to develop an ecosystem for the youth to provide
                                them with skills, resources, and motivation to achieve
                                sustainable development goals.
                            </p>
                            <a href="/aboutus" class="mission-readmore">
                                Read More &rarr;
                            </a>
                        </center>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 bottom-div col-top pledge"
                        style="background-color: #F36A36;">
                        <div>
                            <center>
                                <h1
                                    style="margin-top: 10%;margin-bottom: 50px;  color: white; font-weight: bold; line-height: 3rem; font-family: 'Nunito', sans-serif;">
                                    TAKE A <br> PLEDGE!</h1>
                            </center>
                        </div>

                        <div>
                            <center><button style="margin-top: 30px; margin-bottom: 50px;"
                                    class="btn btn-secondary btn-lg active btn4 " role="button" aria-pressed="true"><a
                                        href="#" style="color: #F36A36; text-decoration: none;">VOLUNTEER</a></button>
                            </center>
                        </div>

                    </div>
                </div>
                <div class="row row2" style="background-position: 0cm; height: 350px;">
                    <div class="col-lg-7 col-12 our-vision" style="background-color: #73C38E; opacity: 0.85;">
                        <center>
                            <h1
                                style="margin-top: 10%;margin-bottom: 50px;  font-weight: bold; color: white; font-family: 'Nunito', sans-serif;">
                                OUR VISION
                            </h1>
                            <p class="vision-text">
                                We exist to improve the social and economic condition in and around Kharagpur and
                                inspire and guide the youth to replicate our learnings across the nation. </p>
                            <a href="/aboutus" class="vision-readmore">
                                Read More &rarr;
                            </a>
                        </center>
                    </div>
                    <div class="col-lg-5 col-top2 col-12 help-and-donate"
                        style="background-color: #05A1C8;  opacity: 0.85;">
                        <div>
                            <h1
                                style="margin-top: 10%;margin-bottom: 50px; text-align: center; color: white; font-weight: bold; line-height: 3rem; font-family: 'Nunito', sans-serif;">
                                HELP AND <br> DONATE!</h1>
                        </div>

                        <div>
                            <center><button style="margin-top: 30px; margin-bottom: 50px;"
                                    class="btn btn-secondary btn-lg active btn4 " role="button" aria-pressed="true"><a
                                        href="/hostel"
                                        style="color: #05A1C8; text-decoration: none;">DONATE</a></button></center>
                        </div>
                    </div>

                </div>
        </div>
        </section>
        </div>










        <section class="section-initiatives">

            <div class="container-fluid" style="margin-top: 100px;">
                <hr class="mt-5">
                <div>
                    <center>
                        <h1 style="margin-bottom: 20px;" class="header__initiatives">OUR INITIATIVES</h1>
                    </center>
                </div>
                <div class="row" style="background-position: 0cm;">
                    <div class="flip-card" style="padding-left: 0cm;padding-right: 0cm;">
                        <div class="flip-card-inner">
                            <div class="flip-card-back" style="background-color:#73C38E;">

                                <div class="row flip-card-back--row">
                                    <div class="col-md-9 flip-card-back-text-row">
                                        <p class="p-2">

                                            Tackling one of today’s prime concerns- youth unemployment by generating
                                            employment! Prayas is our Business Development Initiative.
                                    </div>
                                    <div class="col-md-3 flip-card-back-button-row">
                                        <h1 class="h-2" style="font-weight:bold; text-align: center;">PRAYAS</h1>
                                        <button style="border-color: none;" class="btn btn-secondary btn-lg active btn3"
                                            role="button" aria-pressed="true">
                                            <a href="#" style="color: #05a1c8; text-decoration: none;">Read
                                                More</a></button>
                                    </div>

                                </div>

                            </div>
                            <div class="flip-card-front" style="background-color:#73C38E; color: white;">
                                <div class="flip-card-front-heading">

                                    <div class="row flip-card__front-row">
                                        <div class="col-md-4 col-sm-12 padding-left-right-0">
                                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/Prayas_b.jpg"
                                                alt="image of JVM students" class="flip-card__image">


                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">


                                            <div class="flip-card--column-text">
                                                <div class="flip-card--column-text--heading">
                                                    100+
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    - youth attended computer workshop
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">
                                            <div class="flip-card--column-text">
                                                <div class="flip-card--column-text--heading">
                                                    110+
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    - women attended tailoring workshop
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <div class="flip-card--column-text flip-card__about-card">
                                                <div class="flip-card--column-text--heading">
                                                    PRAYAS
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    Business Development Initiative
                                                    <br />
                                                    - Tackling one of today’s prime concerns- youth unemployment
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="flip-card" style="padding-left: 0cm;padding-right: 0cm;">
                        <div class="flip-card-inner">
                            <div class="flip-card-back" style="background-color:#05A1C8;">
                                <div class="row flip-card-back--row">
                                    <div class="col-md-9 flip-card-back-text-row">
                                        <p class="p-2">Every child deserves a chance! A chance to learn. A chance to
                                            attend school.
                                            Every child deserves an Education. Through our initiative- Jagriti Vidya
                                            Mandir, we provide that holistic learning environment.
                                        </p>
                                    </div>
                                    <div class="col-md-3 flip-card-back-button-row">
                                        <h1 class="h-2" style="font-weight:bold; text-align: center;">EDUCATION</h1>
                                        <button style="border-color: none;" class="btn btn-secondary btn-lg active btn3"
                                            role="button" aria-pressed="true">
                                            <a href="#" style="color: #05a1c8; text-decoration: none;">Read
                                                More</a></button>
                                    </div>

                                </div>



                            </div>
                            <div class="flip-card-front" style="background-color:#05A1C8; color: white;">
                                <div class="flip-card-front-heading">
                                    <!-- <h1 class="h-1" >20,000</h1>
                                <h1 class="h-1" >EDUCATION</h1> -->

                                    <div class="row flip-card__front-row">
                                        <div class="col-md-4 col-sm-6 col-6">

                                            <div class="flip-card--column-text edu-cov-col-text flip-card__about-card">
                                                <div class="flip-card--column-text--heading">
                                                    Jagriti Vidya Mandir
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    - To educate each and every child for a better tomorrow
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-sm-6 col-6">

                                            <div class="flip-card--column-text edu-cov-col-text">
                                                <div class="flip-card--column-text--heading">
                                                    500 +
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    Student's life got changed, being provided with free of cost
                                                    education
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-sm-12 padding-left-right-0 edu-cov-img">
                                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/JVM.JPG"
                                                alt="image of JVM students" class="flip-card__image">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="flip-card" style="padding-left: 0cm;padding-right: 0cm;">
                        <div class="flip-card-inner">
                            <div class="flip-card-back" style="background-color:#F9EE34; color: white;">
                                <div class="row flip-card-back--row">
                                    <div class="col-md-9 flip-card-back-text-row">
                                        <p class="p-2">Why limit ourselves to Gopali when we could help uplift weaker
                                            sections of society across the nation? Hence our Expansion Initiative-
                                            LIGHT.
                                        </p>
                                    </div>
                                    <div class="col-md-3 flip-card-back-button-row">
                                        <h1 class="h-2" style="font-weight:bold; text-align: center;">LIGHT</h1>
                                        <button style="border-color: none;" class="btn btn-secondary btn-lg active btn3"
                                            role="button" aria-pressed="true">
                                            <a href="#" style="color: #F9EE34; text-decoration: none;">Read
                                                More</a></button>
                                    </div>

                                </div>
                            </div>
                            <div class="flip-card-front flip-card--black-font"
                                style="background-color:#F9EE34; color: white;">
                                <div class="flip-card-front-heading">

                                    <div class="row flip-card__front-row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 padding-left-right-0 light__image">

                                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/light a.jpg"
                                                alt="image of JVM students" class="flip-card__image">

                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">
                                            <div class="flip-card--column-text">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/indmap_transp.png"
                                                    alt="image of JVM students" class="flip-card__image--no-hover">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">
                                            <div class="flip-card--column-text">
                                                <div class="flip-card--column-text--heading">
                                                    12
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    Student run centers
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-sm-4 col-12">

                                            <div class="flip-card--column-text flip-card__about-card">
                                                <div class="flip-card--column-text--heading">
                                                    LiGHT
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    "Expansion Initiative
                                                    <br>
                                                    - forming a PAN India network of socially motivated youth."
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-position: 0cm;">

                    <div class="flip-card" style="padding-left: 0cm;padding-right: 0cm;">
                        <div class="flip-card-inner">
                            <div class="flip-card-back" style="background-color:#F36A36; color: white;">

                                <div class="row flip-card-back--row">
                                    <div class="col-md-9 flip-card-back-text-row">
                                        <p class="p-2">A chance for socially motivated students,non-GYWS members, from
                                            IIT Kharagpur to help us in our cause.</p>
                                    </div>
                                    <div class="col-md-3 flip-card-back-button-row">
                                        <h1 class="h-2" style="font-weight:bold; text-align: center;">COVID-19</h1>
                                        <button style="border-color: none;" class="btn btn-secondary btn-lg active btn3"
                                            role="button" aria-pressed="true">
                                            <a href="#" style="color: #F36A36; text-decoration: none;">Read
                                                More</a></button>
                                    </div>

                                </div>

                            </div>
                            <div class="flip-card-front" style="background-color:#F36A36; color: white;">
                                <div class="flip-card-front-heading">

                                    <div class="row flip-card__front-row flip-card__front-row--covid-576px"
                                        style="overflow-y:hidden;">
                                        <div class="col-md-4 col-sm-4 col-12 cov-col-text">

                                            <div class="flip-card--column-text edu-cov-col-text flip-card__about-card">
                                                <div class="flip-card--column-text--heading">
                                                    COVID - 19
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    Door to door distribution of basic amenities to the rural households
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">
                                            <div class="flip-card--column-text edu-cov-col-text">
                                                <div class="flip-card--column-text--heading">
                                                    5000+
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    - masks were distributed
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2 col-sm-4 col-6">

                                            <div class="flip-card--column-text edu-cov-col-text">
                                                <div class="flip-card--column-text--heading">
                                                    2000+
                                                </div>
                                                <hr>
                                                <div class="flip-card--column-text--byline">
                                                    - needy families got food kits
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 col-sm-12 padding-left-right-0 edu-cov-img">

                                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/Covid 19 a.jpg"
                                                alt="image of JVM students" class="flip-card__image">


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <hr>



                <!-- <div class="row" style="background-position: 0cm; margin-top: 5rem !important;">

                    <div class="flip-card" style="margin-left: 3rem;margin-right: 3rem; padding-left: 0; padding-right: 0;">
                        <div class="flip-card-inner">
                            <div class="flip-card-back" style="background-color:rgb(157, 139, 197); color: white;">

                                <div class="row flip-card-back--row">
                                    <div class="col-md-9 flip-card-back-text-row">
                                        <p class="p-2"></p>
                                    </div>
                                    <div class="col-md-3 flip-card-back-button-row">
                                        <h1 class="h-2" style="font-weight:bold; text-align: center;">COVID-19</h1>
                                        <button style="border-color: none;" class="btn btn-secondary btn-lg active btn3"
                                            role="button" aria-pressed="true">
                                            <a href="#" style="color: rgb(157, 139, 197); text-decoration: none;">Read
                                                More</a></button>
                                    </div>

                                </div>

                            </div>
                            <div class="flip-card-front" style="background-color:rgb(157, 139, 197); color: white;">
                                <div class="flip-card-front-heading">

                                    <div class="row flip-card__front-row flip-card__front-row--covid-576px"
                                        style="overflow-y:hidden;">
                                        <div class="col-md-8 col-sm-12 col-12 cov-col-text">

                                            <div class="flip-card--column-text edu-cov-col-text flip-card__about-card">
                                                <div class="flip-card--column-text--heading">
                                                    GYWS is delighted to welcome Sub-Divisional Officer Mr Azmal
                                                    Hossain
                                                    as one of its advisors!
                                                </div>
                                                <hr> 
                                                <div class="flip-card--column-text--byline" style="padding:2rem">
                                                    Mr Hossain was one of our Chief Guests for Aashayein 2022! Impressed
                                                    by the initiatives undertaken by us to uplift the people of Gopali,
                                                    Mr Hossain has agreed to guide us so that we can help an even larger
                                                    audience and spread our vision across the nation!
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-4 col-sm-12 padding-left-right-0 edu-cov-img">

                                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/Covid 19 a.jpg"
                                                alt="image of JVM students" class="flip-card__image">


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->



                <div class="jumbotron"
                    style="margin-right: 2rem; margin-left: 2rem; background-color: rgb(157, 139, 197); color: #ffff; margin-top: 4rem;">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 ">
                            <p class="text-center" style="font-size:2.3rem; font-weight: bold;">GYWS is delighted to welcome <br> Sub-Divisional Officer
                                Mr Azmal Hossain <br> as one of its advisors! </p>
                            <hr class="my-4">
                            <p class="lead text-center">Mr Hossain was one of our Chief Guests for Aashayein 2022!
                                Impressed by the initiatives undertaken by us to uplift the people of Gopali,  Sir has agreed to guide us so that we can help an even larger audience and spread our vision across the nation!</p>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/SDO_AzmalHossain.jpg"
                                                alt="image of JVM students" class="flip-card__image">
                        </div>
                    </div>


                </div>

                <section class="section-donate" style="overflow-y:hidden;overflow-x:hidden">
                    <div class="container c-1">

                        <div class="row row-bottom"
                            style="background-image: url(<%=baseurl%>gyws/assets/img/new_website_img/home/header-bg.jpg); background-position: 0cm; margin-top: 100px; margin-bottom: 100px;">
                            <div class="col-lg-8 bottom-div" style="background-color: #F36A36; padding-left: 50px;">
                                <h1 style="margin-top: 80px;margin-bottom: 50px; margin-left: 20%;  color: white; font-family: Nunito, sans-serif;"
                                    class="donate-text">Give today for a
                                    better tomorrow!</h1>
                            </div>
                            <div class="col-lg-4 bottom-div" style="background-color: #F36A36; padding-left:50px;">
                                <center><button
                                        style="margin-top: 80px; margin-bottom: 50px; background-color: #fed136;"
                                        class="btn btn-secondary btn-lg active btn2t" role="button"
                                        aria-pressed="true"><a href="/hostel"
                                            style="color: #343a40; text-decoration: none;">Donate</a></button></center>
                            </div>
                        </div>
                    </div>
                </section>

                <hr>

                <!-- section testimonials -->
                <section class="section-testimonials">

                    <div>
                        <center>
                            <h1 style="margin-bottom: 20px; font-family: Nunito, sans-serif;"
                                class="header__testimonials">TESTIMONIALS</h1>
                        </center>
                    </div>


                    <div id="carouselExampleFade" class="carousel slide carousel-fade testimonial-carousel"
                        data-ride="carousel" data-pause="hover">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="3000">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="story story--green">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t1.jpg"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translateX(0);">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Prof. Madhusudan Chakraborty
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Prof. Madhusudan Chakraborty<br>
                                                    Former Director, IIT Bhubaneshwar<br><br></div>
                                                <p>
                                                    The society is fortunate to have some young Samaritans who have
                                                    always committed themselves for the humanitarian cause of
                                                    uplifting the condition of the poor and enlightening the future
                                                    generation, let all of us join our hands together to make this
                                                    endeavour, envisaged to help the needy aspire for a better future, a
                                                    success.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story story--blue">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t2.jpg"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translate(0);">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Mr. Mrinal Kanti Bhanja
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Mr. Mrinal Kanti Bhanja<br>
                                                    Founder, Gopali Youth Welfare Society<br><br></div>
                                                <p>
                                                    Gopali Youth Welfare Society (GYWS) was established with the
                                                    objectives of making people aware of problems faced by the
                                                    modern society. It also aims at helping people's social, economic
                                                    and cultural development and encouraging them to find out
                                                    solutions to their problems on the basis of locally available
                                                    resources.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row inside carousel ends here -->

                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="story story--yellow">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/suparna_mandal.png"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translate(0); width: 100%;">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Ms. Suparna Mondal
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Ms. Suparna Mondal<br>
                                                    Former President, GYWS<br><br></div>
                                                <p>
                                                    Since its establishment in 2002, Gopali Youth Welfare Society has
                                                    successfully launched and carried out several training and
                                                    develooment activities in and around the Gopaili. In the past we
                                                    have
                                                    established rural libraries providing vocational training to the
                                                    people
                                                    from under-privileged section of society beside carrying out several
                                                    awareness generation programs. We
                                                    express our gratitude to them and our well wishes.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story story--orange">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t4.jpg"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translate(0);">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Prof. Partha Pratim Chakraborty
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Prof. Partha Pratim Chakraborty<br>
                                                    Former Director, IIT Kharagpur<br><br>
                                                </div>
                                                <p>
                                                    Having attended some GYWS events, the determination of
                                                    the students to make a change amazes me. This is worth
                                                    applause that they have taken the initiative to work for the
                                                    underprivileged. | feel privileged to have such students in the
                                                    campus who seek to give back to the society. Hope to see
                                                    GYWS as well as other students come forward with more
                                                    such initiatives.<br><br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="story story--purple">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t5.jpg"
                                                    alt="Person on a tour" class="story__image">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Mr. Sailesh Gandhi
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Mr. Sailesh Gandhi (IIT Bombay, ’63
                                                    batch)<br><br></div>
                                                <p>
                                                    I was happy to see the diverse activities being taken up by the
                                                    Gopali Youth Welfare Society. The social commitment being
                                                    continuously shown by the students and faculty of IIT Knaragpur
                                                    to share knowledge and time with the inhabitants of Gopali and
                                                    its surroundings is laudable. I was also impressed with the details
                                                    of expenditure for the last few years which they have displayed
                                                    on the website. I wish them all the best and send my good wishes.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story story--green">
                                            <figure class="story__shape">

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t6.jpg"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translateX(0);">

                                                <figcaption class="story__caption">



                                                    Mr. Roy Da Silva
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Mr. Roy Da Silva (IIT Kharagpur, ‘74
                                                    batch)<br>
                                                    Former President, IIT foundation<br><br></div>
                                                <p>
                                                    I would like to recognize Gopali Youth Welfare Society at IIT
                                                    Kharagpur at which I
                                                    found out about when I visited PAN IIT GLOBAL
                                                    CONFERENCE 2012 and what I said was about, you have
                                                    got to establish a cause you would like to give back to and
                                                    I'm extremely happy this organisation exists within IIT Kharagpur
                                                    campus. <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item" data-interval="3000">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="story story--orange">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/hr_tiwary.png"
                                                    alt="Person on a tour" class="story__image"
                                                    style="transform: translate(0);">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Prof. H R Tiwari
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Prof. H R Tiwari<br>
                                                    Ex-Professor, Department of Humanities and Social Science, IIT
                                                    Kharagpur<br><br></div>
                                                <p>
                                                    Society is purely the extension of ourselves. Though we
                                                    stepped in 2l® century there are still several bleak
                                                    aspects remain in our society especially in the
                                                    developing countries like India. Illiteracy, poverty, lack of
                                                    health consciousness, lack of social consciousness, lack
                                                    of worldly knowledge are major arnong them.Out of these sacred some
                                                    of the educated youth
                                                    grouped together to do something in the field and
                                                    GOPALI YOUTH WELFARE SOCIETY came into being.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story story--purple">
                                            <figure class="story__shape">

                                                <!-- semantically the best tag to use -->
                                                <!-- in HTML 5 we can use figure tag to put in some image with caption -->

                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/t14.jpg"
                                                    alt="Person on a tour" class="story__image">

                                                <figcaption class="story__caption">

                                                    <!-- special tag to define the caption of an image -->

                                                    Prof. N R Mandal
                                                </figcaption>
                                            </figure>

                                            <div class="story__text">
                                                <div class="story_head_alum">Prof. N R Mandal<br>

                                                    Ex-Professor, Ocean Engineering and Naval Architecture,
                                                    Ex-Dean SA, IIT Kharagpur<br><br></div>
                                                <p>
                                                    The fact that a group of students of IIT Kharagpur run a
                                                    fully-fledged NGO leaves me filled with immense pride. As an
                                                    advisory committee member of GYWS and having closely
                                                    observed all their activities. They are breaking the trends which
                                                    see IITians aiming
                                                    at bagging high salary jobs as soon as they enter the
                                                    campus. These people are contributing back to the society
                                                    and their contribution is making a difference.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>







                </section>

                <hr class="mt-5" />

                <br><br>

                <!--Gourav's Work -->
                <section id="spons">


                    <br><br>


                    <div class="spons__container container">
                        <div>
                            <center>
                                <h1 class="spons__heading"
                                    style="margin-bottom: 20px; font-family: Nunito, sans-serif;">SPONSORS AND
                                    AFFILIATIONS</h1>
                            </center>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <br><br>
                                    <div class="container spons__container">
                                        <h2 class="sponsor__heading heading" style='font-family: Nunito, sans-serif;'>
                                            SPONSORS </h2>
                                        <br>
                                        <div class="container_image_hov">
                                            <div class="box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s1.png"
                                                    class="shadow-sm p-1 mb-5   rounded"" border=" 0"
                                                    style="width: 100%"" ;>
                </div>
                <div class=" box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s2.jpg"
                                                    class="shadow-sm p-1 mb-5   rounded"" border=" 0"
                                                    style=" width: 100%"" ;>
                </div>
                  <div class=" box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s3.jpg"
                                                    class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                    style=" width: 100%"" ;>
                </div>
                <div class=" box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s4.jpg"
                                                    class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                    style=" width: 100%"" ;>
                </div>
                  <div class=" box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s5.jpg"
                                                    class="shadow-sm p-1 mb-5   rounded"" border=" 0"
                                                    style=" width: 100%"" ;>
                </div>
                  <div class=" box">
                                                <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/s6.png"
                                                    class="shadow-sm p-1 mb-5 rounded"" border=" 0" style=" width: 100%"" ;>
                  </div>
                </div>
                  <br><br>
    
                  <h2 class=" heading affiliation__heading" style='font-family: Nunito, sans-serif;'>AFFILIATIONS</h2>
                                                <br>
                                                <div class="container_image_hov">
                                                    <div class="box">
                                                        <img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a1.png"
                                                            class="shadow-sm p-1 mb-5 rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
                  <div class=" box"><img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a2.jpg"
                                                            class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
                    <div class=" box"><img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a3.png"
                                                            class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
    
                  <div class=" box"><img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a4.png"
                                                            class="shadow-sm p-1 mb-5 rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
                  <div class=" box"><img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a5.jpg"
                                                            class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
    
                  <div class=" box"><img src="<%=baseurl%>gyws/assets/img/new_website_img/home/a6.png"
                                                            class="shadow-sm p-1 mb-5  rounded"" border=" 0"
                                                            style=" width: 100%"" ;></div>
                  <br><br><br><br>
    
                </div>
              </form>
            </div></div>
    
              <div class=" col-md-6">
                                                        <br><br><br>
                                                        <div class="row justify-content-center">

                                                            <!--  <div class="col-2"></div> -->

                                                            <div class="box_map">
                                                                <div id="mapdiv" class="col-8 justify-content-center">
                                                                    <img id="mapdiv"
                                                                        src="<%=baseurl%>gyws/assets/img/new_website_img/home/indmap.jpg"
                                                                        usemap="#Map" border="0"
                                                                        style="height: auto; width: 130%;">
                                                                </div>
                                                            </div>
                                                        </div><br><br>
                                                    </div><br><br>



                                                </div>
                                            </div>
                </section>




    </body>

    <%- include ('../layouts/gyws_footer') %>