<%- include ('../layouts/gyws_header') %>
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/new_website_css/home/style.css">


<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/covid.css">
<link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/light_donate.css">
<header class="header-covid">
            <div class="header__text">
                covirelief
            </div>
        </header>


 <section class="container mt-5">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="<%=baseurl%>gyws/assets/img/covid2.jpg" alt="Virus Fight Image" class="img-fluid">
                    </div>
                    <div class="col-sm-9">
                        <p>Gopali Youth Welfare Society has been tasked to equip the <b>Safe House with Medical and Safety Kits</b> and help the villagers of Gopali to get the necessary treatment for their speedy recovery from the deadly coronavirus. 
                    We seek your support to fulfill sophisticated requirements like <b>oxygen concentrators, cylinders</b> and <b>pulse oximeters</b> to protect our people!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                                    <br><br>                                                          
                        <p> The cost and requirements of the necessary equipment are listed below. Kindly help CoviRelief provide the much-needed relief to the villagers of Gopali! 
                        </p>
                        <section class="table">
                            <table class="table table-bordered align-items-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Qty Required</th>
                                        <th scope="col">Cost per piece</th>
                                        <th scope="col">Total Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td scope="col">Oximeter</td>
                                    <td scope="col">6 Pcs</td>
                                    <td scope="col">Rs. 2500</td>
                                    <td scope="col">Rs. 15000</td>
                                    


                                </tbody>

                                    <tbody>
                                   <td scope="col">Oxygen Cylinder</td>
                                    <td scope="col">2 Pcs</td>
                                    <td scope="col">Rs. 8000</td>
                                    <td scope="col">Rs. 16000</td>
                                   </tbody>
                                   <tbody>
                                    <td scope="col">Oxygen Concentrator</td>
                                    <td scope="col">1 Pcs</td>
                                    <td scope="col">Rs. 60000</td>
                                    <td scope="col">Rs. 60000</td>
                                   </tbody>
                            </table>
                        </section>
                        
                    </div>

                </div>
            </section>
        </main>


    <!--<header class="header-covid">
            <div class="header__text">
                covirelief
            </div>
        </header>

        <section class="section-about">
            
            <div class="row about">

                <div class="col-md-3">
                    <img src="<%=baseurl%>gyws/assets/img/virus_fight.jpg" alt="Fighting the virus" class="about__img">
                </div>

                <div class="col-md-9 about__text">
                    Gopali Youth Welfare Society has been tasked to equip the Safe House with Medical and Safety Kits and help the villagers of Gopali to get the necessary treatment for their speedy recovery from the deadly coronavirus. 
                    We seek your support to fulfill sophisticated requirements like oxygen concentrators, cylinders, etc, and protect our people!
<br><br><br>-->

<center>
   <div style="color:yellow;">
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HLMhwnYADNDM1S" async> </script> </form></div>
 </center>
        </div>



                    
                </div>


            </div>
        </section>
<br><br><br>

<%- include ('../layouts/gyws_footer') %>