<%- include ('../layouts/header') %>

    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Welcome to GYWS-Donate LiGHT</title>
        <link rel="stylesheet" href="<%=baseurl%>gyws/assets/css/new_website_css/home/style.css">

        <title>Donate Now</title>
        <style>
            #more {
                display: none;
            }

            #more2 {
                display: none;
            }

            .Light_donate {
                font-family: 'Nunito', sans-serif;
            }
        </style>
    </head>



    <body>



        <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;  margin-top:10%">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                    style="padding : 10px; font-size: 20px;">
                    <h1 class="display-5">Volleyball court, sports equipment, and books for the library in a school
                        named Dr. AR PATIL
                        High School Akola:<br>
                        <a href="https://light.gyws.org/center_akola"
                            style="text-decoration:none; color:black !important;">LiGHT Akola</a>
                    </h1>
                    <hr class="my-4">
                    <p class="lead">
                        In today&#8217;s world all-around development of a student is very necessary. Sports and books
                        play a
                        major role
                        in this. All the schools should necessarily have required sports facilities and a library for
                        the students. But
                        we encountered that some schools still don&#8217;t have these facilities. To help one of these
                        schools
                        LiGHT
                        Akola decided to make a volleyball ground and provide them with sports equipment as well as
                        provide
                        books for the library of the school.<br>
                        We (LiGHT Akola) are raising funds for this noble cause and we need your support to achieve
                        this. <br>
                        Let&#8217;s come together and join LiGHT Akola in this initiative. <br>
                        Donate as you wish <br>
                        Your small contribution can lead to a big smile on someone&#8217;s face



                    </p>

                    <div class="text-center">
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_JGmGqQaoeBkJmi" async> </script>
                        </form>
                    </div>



                </div>
                <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="<%=baseurl%>gyws/assets/img/LiGHT_donate/LiGHT_Akola.png" alt="" style="width:100%">
                </div>



            </div>



        </div>

        <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                    style="padding : 10px; font-size: 20px;">
                    <h1 class="display-5"> Fans and Cooler at Kopal Vaani Child Welfare Organization, Raipur:<br>
                        <a href="https://light.gyws.org/center_raipur"
                            style="text-decoration:none; color:black !important;">LiGHT Raipur</a>
                    </h1>
                    <hr class="my-4">
                    <p class="lead">
                        Do you wish to help our youngsters, torchbearers of the coming generations? <br>
                        Provide them relief
                        from the scorching heat?
                        Then you are at the right place! <br>
                        We, the members of LiGHT Raipur, are providing fans and cooler to the Kopal Vaani Child Welfare
                        Organisation, an Ashram in Raipur. <br> We are raising funds for this noble cause and would be
                        extremely humbled if you could support this initiative.
                        Kindly donate and shine light on these young orphans. <br>
                        Even a small contribution makes a huge difference!




                    </p>

                    <div class="text-center">
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_JITs7IpsuRsSk1" async> </script>
                        </form>
                    </div>



                </div>
                <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="<%=baseurl%>gyws/assets/img/LiGHT_donate/LiGHT_Raipur.png" alt="" style="width:100%">
                </div>



            </div>



        </div>

        <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                    style="padding : 10px; font-size: 20px;">
                    <h1 class="display-5">Sanitation of &#34Shaaskiya Madhyamic Vidyalaya, Sitholi&#34:<br> <a
                            href="https://light.gyws.org/center_gwalior_thatipur"
                            style="text-decoration:none; color:black !important;">LiGHT Gwalior Thatipur</a>
                    </h1>

                    <hr class="my-4">
                    <p class="lead">What if we say <br>
                        Schools without blackboards?<br>
                        Cleanness without dustbins?<br>
                        Yes.. that&#8217;s right.<br>
                        Shaaskiya Madhyamic Vidhyalaya, Sitholi school of Gwalior, Madhya Pradesh does not have these
                        basic<br>
                        amenities. Students are studying with Black painted walls instead of blackboards. All the dust
                        and
                        garbage<br>
                        material is collected By the students themselves in the corner of their own classrooms where
                        mosquitos <br>
                        flies stay for the whole time.<br>
                        <span id="dots"></span><span id="more">
                            In this dark environment of a CLASSROOM, students are trying to make their future bright.
                            In today's era where almost everyone has enough resources, there are some children like
                            this. As
                            being a
                            part of today's energetic youth, LiGHT Gwalior Thatipur takes the responsibility to make
                            this
                            school a
                            better
                            place for learning, for accomplishing the task LiGHT Gwalior Thatipur raising funds for the
                            betterment of
                            the
                            School. We are aiming not only to make this school better but to make a mark in everyone's
                            youth
                            mind that
                            if we all come together, then no school students have to study near the garbage, with black
                            painted walls or
                            any type of worst situation.<br>
                            Come together,
                            Donate as you wish
                            To fulfil someone's wish.</span>
                    </p>


                    <button onclick="ReadmoreFunction()" id="readmore_button" style="font-size: 0.8rem;">Read
                        more</button>

                    <div class="text-center">
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_JFaynk6V2R4yOk" async> </script>
                        </form>
                    </div>

                </div>
                <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="font-size: 20px; padding-bottom: 0;">
                    <br>
                    <img src="<%=baseurl%>gyws/assets/img/LiGHT_donate/LiGHT_Thatipur.jpg" alt=""
                        style="width:100%; height:90%">
                </div>



            </div>



        </div>
        <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                    style="padding : 10px; font-size: 20px;">
                    <h1 class="display-5">School Uniforms for Orphanage Children: <br><a
                            href="https://light.gyws.org/center_samvedhna"
                            style="text-decoration:none; color:black !important;">LiGHT Samvedna</a></h1>
                    <hr class="my-4">
                    <p class="lead">
                        Can you assume going to school in homewear/casual dress and not in school uniform everyday? <br>
                        Yes.. you heard it right. Going to school everyday where everyone else wears school uniforms and
                        you
                        have to wear casual/home dress. <br>
                        This is the situation of the childrens of Baba Balika Ashram orphanage, Aurangabaad , where the
                        childrens
                        of class 8th,9th and 10th do not have uniforms to wear and the orphanage is unable to get the
                        funds
                        to buy
                        the uniforms for the childrens along with maintaining the other expenses. <br>

                        <span id="dots2"></span><span id="more2">
                            Since 2 years the schools were online and the childrens do not need uniforms but now schools
                            have
                            been
                            opened and there is urgent requirement for funds to buy the uniforms for the childrens. <br>
                            To support Baba Balika Ashram and provide school uniforms to the childrens, LiGHT Samvedna
                            is
                            raising
                            donations. <br>
                            Let&#8217;s come together and join LiGHT Samvedna in this initiative.
                            Donate as you wish
                            To fulfill someone's need. <br>
                        </span>
                    </p>


                    <button onclick="ReadmoreFunction2()" id="readmore_button2" style="font-size: 0.8rem;">Read
                        more</button>
                    <div class="text-center">
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_JFawFnDUvdnGJq" async> </script>
                        </form>
                    </div>


                </div>
                <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="<%=baseurl%>gyws/assets/img/LiGHT_donate/LiGHT_samvedna.png" alt="" style="width:100%">
                </div>



            </div>



        </div>

        <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                    style="padding : 10px; font-size: 20px;">
                    <h1 class="display-5">Water purifier for Orphanage children of Sankalp Orphanage,Wardha:<br><a
                            href="https://light.gyws.org/center_wardha"
                            style="text-decoration:none; color:black !important;">LiGHT Wardha</a></h1>
                    <hr class="my-4">
                    <p class="lead">
                        Can you assume drinking water has TDS greater than 500 ? <br>
                        Yes.. you heard it right. Drinking high tds water every time leads to kidney stones, diarrhea
                        and
                        even cancer but the childrens at Sankalp orphanage, Wardha. <br>
                        To help the orphanage and solve this major problem LiGHT Wardha decided to set up a water
                        purifier
                        at the orphanage. <br>
                        We (LiGHT Wardha) are raising funds for this noble cause and we need your support to achieve
                        this. <br>
                        Let&#8217;s come together and join LiGHT Wardha in this initiative. <br>
                        Donate as you wish <br>
                        To fulfil someone's needs.



                    </p>

                    <div class="text-center">
                        <form>
                            <script src="https://checkout.razorpay.com/v1/payment-button.js"
                                data-payment_button_id="pl_JG4D55CShX9psr" async> </script>
                        </form>
                    </div>



                </div>
                <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="<%=baseurl%>gyws/assets/img/LiGHT_donate/LiGHT_Wardha.png" alt="" style="width:100%">
                </div>



            </div>



        </div>








        <script>

            function ReadmoreFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("readmore_button");

                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Read more";
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Read less";
                    moreText.style.display = "inline";
                }
            }

            function ReadmoreFunction2() {
                var dots2 = document.getElementById("dots2");
                var moreText2 = document.getElementById("more2");
                var btnText2 = document.getElementById("readmore_button2");

                if (dots2.style.display === "none") {
                    dots2.style.display = "inline";
                    btnText2.innerHTML = "Read more";
                    moreText2.style.display = "none";
                } else {
                    dots2.style.display = "none";
                    btnText2.innerHTML = "Read less";
                    moreText2.style.display = "inline";
                }
            }




        // let donate = document.getElementById('donate_form');
        // // let formData = new FormData(donate.months.value);

        // console.log(document.getElementById('duration').value);
        </script>

        <br>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>

    </html>



    <%- include ('../layouts/footer') %>